<div ng-include="'views/common/navbar/templates/navbar.view.client.html'" ng-controller="NavbarController as model1"></div>

<div class="container-fluid">
    <h4>Wishlist Management</h4>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


<!-------------------------------update wishlist div : start--------------------------------------------------------------->

    <nav ng-show="model.itemUpdate" class="navbar navbar-search">
        <ul  class="list-group">
            <li ng-repeat="product in model.itemUpdate.products track by $index" class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <input class="form-control"
                               ng-readonly="!checked"
                               ng-model="product"
                               placeholder=""/>
                    </div>
                    <div class="col-xs-1 middle-div">
                        <a  href=""  ng-click = "model.deleteProductFromList(product)">
                            <span class="glyphicon glyphicon-trash "></span>
                        </a>
                    </div>

                    <div class="col-xs-1 middle-div">
                        <a href="" ng-click = "checked = 'edit';">
                            <span class="glyphicon glyphicon-pencil "></span>
                        </a>
                    </div>

                    <div class="col-xs-1 middle-div">
                        <a href="" ng-click = "checked = '';model.updateProductInList(product,$index)">
                            <span class="glyphicon glyphicon-ok "></span>
                        </a>
                    </div>




                </div>
            </li>

        </ul>

        <div class="inner-click-button">
            <a  ng-click="model.addProductToList()"
                class="btn btn-block btn-primary ">Add New Product Id</a>
        </div>

        <div class="inner-click-button">
            <a  ng-click="model.updateWishlist(model.itemUpdate)"
                class="btn btn-block btn-success ">Update</a>
        </div>
    </nav>

<!-------------------------------update wishlist div : end------------------------------------------------------------>


<!------------------------------- wishlist : start------------------------------------------------------------------->
    <ul  class="list-group">

        <li  class="list-group-item active">
            <div class="row">
                <div class="col-xs-3 " >
                    User
                </div>
                <div class="col-xs-6 ">
                    Products
                </div>
                <div class="col-xs-2 " >
                    Created Date
                </div>
                <div class="col-xs-1 pull-right">
                    <!--<a href="" ng-click="model.addDiv = 'add'" >-->
                        <!--<span class="glyphicon glyphicon-plus pull-right pd-add"></span>-->
                    </a>
                </div>
            </div>
        </li>


        <li ng-repeat="item in model.items" class="list-group-item">
            <div class="row">
                <div class="col-xs-3 ">
                    {{item._user.username}}
                </div>
                <div class="col-md-6  ">
                    {{item.products}}
                </div>
                <div class="col-md-2  " >
                    {{item.dateCreated | date : 'yyyy-MM-dd HH:mm:ss'}}
                </div>
                <div class="col-xs-1">
                    <a href="" ng-click = "model.showUpdate(item)">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>



</div>