<div ng-include="'views/common/navbar/templates/navbar.view.client.html'" ng-controller="NavbarController as model1"></div>

<div class="container-fluid">
    <h4>User Management</h4>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
<!-------------------------------update user div : start--------------------------------------------------------------->
    <nav ng-show="model.itemUpdate" class="navbar navbar-search">
        <div class="row">

            <div class="col-md-2">
                <label>Username</label>
                <input class="form-control"
                       ng-model="model.itemUpdate.username"
                       placeholder="username: e.g. Jack"/>
            </div>

            <div class="col-md-2">
                <label>Email</label>
                <input class="form-control"
                       ng-model="model.itemUpdate.email"
                       placeholder="email: e.g. Jack@gmail.com"/>
            </div>

            <div class="col-md-2">
                <label>State</label>
                <select class="form-control"
                        ng-change="model.getUniversitiesByState()"
                        ng-model="model.selectedState">
                    <option value="">- Choose state-</option>
                    <option ng-repeat="state in model.states" value="{{state.stateName}}">{{state.stateName}}</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>University</label>
                <select class="form-control"
                        ng-model="model.selectedUniversity">
                    <option value="">- Choose university-</option>
                    <option ng-repeat="university in model.universities" value="{{university._id}}">{{university.name}}</option>
                </select>
            </div>


            <div class="col-md-3">
                <label>Roles</label>
                <form class="radio-button-form">
                    <span class="inner-checkbox-button">
                        <input  type="checkbox"
                                ng-checked="model.itemUpdate.roles.indexOf('BUYER')>-1"
                                ng-model="model.newRolesBuyer"
                                ng-true-value="'BUYER'" ng-false-value="">
                                    BUYER
                                </span>
                    <span class="inner-checkbox-button">
                                    <input  type="checkbox"
                                            ng-checked="model.itemUpdate.roles.indexOf('SELLER')>-1"
                                            ng-model="model.newRolesSeller"
                                            ng-true-value="'SELLER'" ng-false-value="">
                                        SELLER
                                </span>
                    <span class="inner-checkbox-button">
                        <input  type="checkbox"
                                ng-checked="model.itemUpdate.roles.indexOf('ADMIN')>-1"
                                ng-model="model.newRolesAdmin"
                                ng-true-value="'ADMIN'" ng-false-value="">
                        ADMIN
                    </span>
                </form>

            </div>
        </div>

        <div class="inner-click-button">
            <a  ng-click="model.updateUser(model.itemUpdate)"
                class="btn btn-block btn-success ">Update</a>
        </div>
        <div class="inner-click-button">
            <a  ng-click="model.itemUpdate=''"
                class="btn btn-block btn-danger ">Cancel</a>
        </div>
    </nav>
<!-------------------------------update user div : end--------------------------------------------------------------->
<!-------------------------------add user div : start--------------------------------------------------------------->

    <nav ng-show="model.addDiv" class="navbar navbar-search">
        <div class="row">

            <div class="col-md-2">
                <label>Username</label>
                <input class="form-control"
                       ng-model="model.newUser.username"
                       placeholder="username: e.g. Jack">
                </input>
            </div>

            <div class="col-md-2">
                <label>Password</label>
                <input class="form-control"
                       ng-model="model.newUser.password"
                       placeholder="password: e.g. 123qwe">
                </input>
            </div>

            <div class="col-md-2">
                <label>State</label>
                <select class="form-control"
                        ng-change="model.getUniversitiesByState()"
                        ng-model="model.selectedState">
                    <option value="">- Choose state-</option>
                    <option ng-repeat="state in model.states" value="{{state.stateName}}">{{state.stateName}}</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>University</label>
                <select class="form-control"
                        ng-model="model.selectedUniversity">
                    <option value="">- Choose university-</option>
                    <option ng-repeat="university in model.universities" value="{{university._id}}">{{university.name}}</option>
                </select>

            </div>


            <div class="col-md-3">
                <label>Roles</label>
                <form class="radio-button-form">
                                <span class="inner-checkbox-button">
                                    <input  type="checkbox" ng-model="model.newRoles.buyer" value="BUYER">
                                    BUYER
                                </span>
                    <span class="inner-checkbox-button">
                                    <input  type="checkbox" ng-model="model.newRoles.seller" value="SELLER">
                                        SELLER
                                </span>
                    <span class="inner-checkbox-button">
                        <input  type="checkbox" ng-model="model.newRoles.admin" value="ADMIN">
                        ADMIN
                    </span>
                </form>

            </div>
        </div>

        <div class="inner-click-button">
            <a  ng-click="model.createUser()"
                class="btn btn-block btn-success ">Create</a>
        </div>

        <div class="inner-click-button">
            <a  ng-click="model.addDiv=''"
                class="btn btn-block btn-danger ">Cancel</a>
        </div>
    </nav>
<!-------------------------------add user div : end--------------------------------------------------------------->

    <ul  class="list-group">

        <li  class="list-group-item active">
            <div class="row">
                <div class="col-xs-3 col-md-2" >
                    User Name
                </div>
                <div class="col-xs-5 col-md-2 ">
                    Roles
                </div>
                <div class="col-md-2  visible-md visible-lg">
                    Created Date
                </div>
                <div class="col-md-2  visible-md visible-lg" >
                    state
                </div>
                <div class="col-md-2  visible-md visible-lg" >
                    University
                </div>
                <div class="col-xs-4 pull-right">
                    <a href="" ng-click="model.addDiv = 'add'" >
                        <span class="glyphicon glyphicon-plus pull-right pd-add"></span>
                    </a>
                </div>

            </div>
        </li>

        <li ng-repeat="item in model.items" class="list-group-item">
            <div class="row">
                <div class="col-xs-3 col-md-2" >
                    {{item.username}}
                </div>

                <div class="col-xs-5 col-md-2">
                    {{item.roles}}</a>
                </div>
                <div class="col-md-2  visible-md visible-lg">
                    {{item.dateCreated | date}}
                </div>
                <div class="col-md-2  visible-md visible-lg" >
                    {{item._university.stateName}}
                </div>
                <div class="col-md-2  visible-md visible-lg" >
                    {{item._university.name}}
                </div>
                <div class="col-xs-4 col-md-2">
                    <a href="" ng-click = "model.showUpdate(item)">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                    <a href=""  ng-click = "model.deleteUser(item._id)">
                        <span class="glyphicon glyphicon-trash pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>



</div>