<nav class="navbar navbar-fixed-top navbar-inverse">
    <!--<div class="container-fluid">-->
        <div class="navbar-header">

            <p ng-hide="model1.homePage" class="navbar-text pull-left">
                <a href="" ng-click="model1.backPage()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand pull-left" href="#!/">
                <span class="fa fa-home"> SHMC</span>
            </a>

            <div >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse pull-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a ng-show="model.user._id"
                           href="" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span class="fa  fa-user"> {{model.user.currentRole.toLowerCase()}}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-if="'BUYER' !== model.user.currentRole && model.user.roles.indexOf('BUYER') > -1 ">
                                <a ng-click="model1.switchRole('BUYER')" href=""><span class="fa  fa-user"> switch as buyer</span></a>
                            </li>
                            <li ng-if="'SELLER' !== model.user.currentRole && model.user.roles.indexOf('SELLER') > -1 ">
                                <a ng-click="model1.switchRole('SELLER')" href=""><span class="fa  fa-user"> switch as seller</span></a>
                            </li>
                            <li ng-if="'ADMIN' !== model.user.currentRole && model.user.roles.indexOf('ADMIN') > -1 ">
                                <a ng-click="model1.switchRole('ADMIN')" href=""><span class="fa  fa-user"> switch as admin</span></a>
                            </li>
                            <li ></li>
                            <li ><a href="#!/profile"><span class="fa  fa-address-card">   profile</span></a></li>

                        </ul>
                    </li>
                    <li><a ng-hide="model.user._id" href="#!/login">
                        <span class="fa  fa-sign-in"> login</span></a></li>
                    <li><a  ng-hide="model.user._id" href="#!/register">
                        <span class="fa  fa-user"> register</span></a></li>
                    <li><a ng-show="model.user._id" ng-click="model1.logout()" href="">
                        <span class="fa  fa-sign-out"> logout</span></a></li>

                </ul>
            </div>


        </div>
    <!--</div>-->
</nav>