<div ng-include="'views/common/navbar/templates/navbar.view.client.html'" ng-controller="NavbarController as model1"></div>

<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-6 col-md-3" >
                    Image
                </div>
                <div class="col-xs-5 col-md-2 ">
                    Title
                </div>
                <div class="col-md-3  visible-md visible-lg">
                    Price
                </div>
                <div class="col-md-3  visible-md visible-lg" >
                    Status
                </div>
                <div class="col-xs-1 pull-right">
                    <a href="#!/product/new">
                        <span class="glyphicon glyphicon-plus pull-right pd-add"></span>
                    </a>
                </div>

            </div>
        </li>

        <li ng-repeat="item in model.items" class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-3" >
                    <img href=""ng-src="{{item.galleryURL}}" width="100px"/>
                </div>
                <div class="col-xs-5 col-md-2">
                    {{item.title}}
                </div>
                <div class="col-md-3  visible-md visible-lg">
                    $  {{item.price}}
                </div>
                <div class="col-md-3  visible-md visible-lg" >
                    {{item.status}}
                </div>
                <div class="col-xs-1">
                    <a href="#!/product/{{item._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>





    </ul>
</div>

