<div ng-include="'views/common/navbar/templates/navbar.view.client.html'" ng-controller="NavbarController as model1"></div>
<h1>Profile</h1>

<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<div ng-show="model.message" class="alert alert-info">
    {{model.message}}
</div>


    <div class="container-fluid">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="User name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       ng-model="model.user.email"
                       class="form-control"
                       id="email"
                       placeholder="Enter your Email address">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       ng-model="model.user.firstName"
                       class="form-control"
                       id="first-name"
                       placeholder="First Name">
            </div>

            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       ng-model="model.user.lastName"
                       class="form-control"
                       id="last-name"
                       placeholder="Last Name">
            </div>

            <label >State</label>
                <select class="form-control"
                        ng-change="model.getUniversitiesByState()"
                        ng-model="model.selectedState">
                    <option value="">- Choose state-</option>
                    <option ng-repeat="state in model.states" value="{{state.stateName}}">{{state.stateName}}</option>
                </select>


            <label >University</label>
                <select class="form-control"
                        ng-model="model.user._university">
                    <option value="">- Choose university-</option>
                    <option ng-repeat="university in model.universities" value="{{university._id}}">{{university.name}}</option>
                </select>

        </form>

        <a ng-click="model.updateUser(model.userId, model.user)"
           class="btn btn-success btn-block">Update</a>
        <a ng-if="model.user.currentRole ==='SELLER'" class="btn btn-primary btn-block"
           href="#!/order/sell">Sell Order</a>
        <a ng-if="model.user.currentRole ==='SELLER'" class="btn btn-primary btn-block"
           href="#!/product-management">Product Management</a>
        <a ng-if="model.user.currentRole ==='BUYER'" class="btn btn-primary btn-block"
           href="#!/order/buy">Buy Order</a>
        <a ng-if="model.user.currentRole ==='BUYER'" class="btn btn-primary btn-block"
           href="#!/wish-list">Wish List</a>
        <a ng-if="model.user.currentRole ==='ADMIN'" class="btn btn-primary btn-block"
           href="#!/admin/user">User Management</a>
        <a ng-if="model.user.currentRole ==='ADMIN'" class="btn btn-primary btn-block"
           href="#!/admin/product">Product Management</a>
        <a ng-if="model.user.currentRole ==='ADMIN'" class="btn btn-primary btn-block"
           href="#!/admin/wishlist">Wish List Management</a>
        <a ng-if="model.user.currentRole ==='ADMIN'" class="btn btn-primary btn-block"
           href="#!/admin/order">Order Management</a>
        <a ng-click="model.deleteUser(model.user)"
           class="btn btn-danger btn-block">Unregister</a>
    </div>

